@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-Regular.woff2') format('woff2'),
        url('/fonts/Spartan-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-Bold.woff2') format('woff2'),
        url('/fonts/Spartan-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Antonio';
    src: url('/fonts/Antonio-Medium.woff2') format('woff2'),
        url('/fonts/Antonio-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Spartan';
    src: url('/fonts/Spartan-Medium.woff2') format('woff2'),
        url('/fonts/Spartan-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


html {
    box-sizing: border-box;
    font-family: 'Open Sans';
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', 'Arial', sans-serif;
    padding: 0;
    font-size: 15px;
    line-height: 16px;
    background-image: url("/images/site-bg.png");
    background-position: center center;
    background-repeat: repeat-y;
}

img {
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.wrapper {
    border-bottom: 1px solid rgba(255, 255, 255, 0.329);
}

.site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px;
    margin: 0 auto;
}

.site-logo {
    font-family: Antonio;
    font-size: 28px;
    line-height: 36px;
    letter-spacing: -1.05px;
    color: #FFFFFF;
}

.site-header__toggle-btn {
    display: none;
}

.site-nav__list {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    list-style: none;
}

.site-nav__item:not(:last-child) {
    margin-right: 15px;
}

.site-nav__link {
    font-family: Spartan;
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.75;
    cursor: pointer;
    transition: .1s ease;
}

.site-nav__link:hover {
    color: #c0bcbc;
}

.activeTab {
    color: #FFFFFF;
    border-bottom: 2px solid #419EBB;
}

.activePlanet {
    background-color: green;
}

/* MAIN */

.main-image-box {
    margin-left: 130px;
}

.main-info-section {
    max-width: 1050px;
    margin: 0 auto;
    margin-bottom: 80px;
    padding-top: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.planet-title {
    margin-bottom: 23px;
    font-family: Antonio;
    font-size: 80px;
    line-height: 104px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.planet-info {
    max-width: 350px;
    margin: 0;
    margin-bottom: 24px;
    font-family: Spartan;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
}

.planet-source {
    margin-bottom: 39px;
    font-family: Spartan;
    font-size: 14px;
    line-height: 25px;
    color: #FFFFFF;
    opacity: 0.5;
}

.planet-link {
    font-family: Spartan;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    text-decoration-line: underline;
    color: #FFFFFF;
    opacity: 0.5;
}

.planet-button-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.planet-button-item {
    padding: 12px 28px;
    font-family: Spartan;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 25px;
    letter-spacing: 2.57143px;
    text-transform: uppercase;
    color: #FFFFFF;
    border: 1px solid rgba(250, 250, 250, 0.308);
}

.planet-button-item:not(:last-child) {
    margin-bottom: 16px;
}

.planet-button-item:hover {
    background-color: #d8d8d82d;
}

.planet-button-item span {
    display: inline-block;
    margin-right: 25px;
}

.activeBtn {
    background: #419EBB;
}


.addl-info-section {
    max-width: 1050px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.about-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about-item {
    width: 200px;
    padding: 25px;
    border: 1px solid rgba(250, 250, 250, 0.308);
}

.about-title {
    margin: 0;
    font-family: Spartan;
    font-weight: bold;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
}

.about-caption {
    margin: 0;
    font-family: Antonio;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
}


/* RESPONSIVE */

@media only screen and (max-width: 800px) {
    .logo {
        margin-bottom: 40px;
    }

    .site-header {
        flex-direction: column;
    }

    .main-info-box {
        justify-content: space-between;
    }

    .main-info-section {
        flex-direction: column;
    }

    .main-image-box {
        margin: 0;
        margin-bottom: 80px;
    }

    .main-info-box {
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

    .planet-title {
        font-size: 48px;
        line-height: 62px;
    }

    .planet-button-item {
        white-space: nowrap;
    }

    .about-item {
        max-width: 170px;
        margin: 0 auto;
        padding: 15px;
    }

    .about-title {
        white-space: nowrap;
        font-size: 8px;
        line-height: 16px;
    }

    .about-caption {
        font-size: 24px;
        line-height: 31px;
    }
}


@media only screen and (max-width: 500px) {
    .logo {
        margin: 0;
    }

    .site-header {
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .site-header__toggle-btn {
        display: block;
        background: url(/images/nav.svg) center center;
        background-repeat: no-repeat;
        width: 50px;
        height: 50px;
        margin: 0;
        margin-left: auto;
        padding: 0;
        border: none;
        background-color: inherit;
    }

    .site-main {
        position: relative;
        z-index: -1;
    }

    .site-nav__list {
        display: block;
        position: absolute;
        position: fixed;
        top: 20%;
        left: 0;
        width: 100%;
        height: 100vh;
        padding-left: 55px;
        padding-top: 20px;
        flex-direction: column;
        background-color: #070724;
        z-index: 99;
        transform: translateX(-100%);
        transition: 0.5s ease-in;
    }

    .site-nav__list--active {
        transform: translateX(0%);
    }

    .site-nav__item {
        border-bottom: 1px solid #979797;
    }

    .site-nav__item:not(:last-child) {
        margin-bottom: 8px;
    }

    .activeTab {
        border-bottom: 1px solid #4b4a4a;
    }

    .main-info-section {
        position: relative;
    }

    .planet-button-list {
        display: none;
        position: absolute;
        top: 0;
        display: flex;
    }

    .activeBtn {
        background: inherit;
        border-bottom: 4px solid #419EBB;
    }

    .planet-button-item {
        padding: 15px 5px;
        border: none;
        font-size: 7px;
        line-height: 10px;
        letter-spacing: 1.92857px;
    }

    .planet-button-item:not(:last-child) {
        margin: 0;
    }

    .planet-button-item span {
        display: none;
    }

    .planet-title,
    .planet-info,
    .planet-source {
        text-align: center;
    }

    .about-list {
        flex-direction: column;
    }

    .about-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 350px;
        margin: 0;
        padding: 8px;
    }

    .about-item:not(:last-child) {
        margin-bottom: 8px;
    }

    .about-caption {
        font-size: 20px;
        line-height: 26px;
    }
}